

.about-info-grid{
    display: grid;
    grid-template-areas: 
    "bioimage bio bio"
    "job1 job2 job3"
    "footer footer footer";
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
}

.small-heading {
    margin-bottom: 3rem;
}


.bio-image{
    width: 275px;
    height: 275px;
    background-size: contain;
    grid-area: bioimage;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    margin: auto;
}

.bio{
    grid-area: bio;
    font-size: 1.5rem;

    p{
    font-family: 'Playfair Display',serif;
    }

}

.job-1{
    grid-area: job1;
}

.job-2{
    grid-area: job2;
}

.job-3{
    grid-area: job3;
    
    p{
        margin-top: 2.3rem;
    }
}

.job {
    background: lighten($primary-color,5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
    margin-top: 2rem;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);
    margin-top: 1.5rem;
    height: 60px;
    width: 100%;
    grid-area: footer;
    
}