

#flex-box{
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#contact{
    flex:1
}
.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;

 div {
        font-size: 2rem;
        border: 3px white solid;
        padding: 1.5rem 2rem;
        margin: 0 1em;
        margin-bottom: 3rem;

        @include ease-out;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span{
                color: set-text-color($secondary-color);
            }
        }
    }
}


#contact h1 {
    margin-top: 2rem;
}

