


 @media screen and (max-width: 768px) {
   main {
   align-items: center;
   text-align: center;

   .large-heading {
     line-height: 1;
     margin-bottom: 1rem;
   }
 }

 ul.menu-nav,
 div.menu-branding {
   float: none;
   width: 100%;
   min-height: 0;

   &.show {
     transform: translate3d(0, 0, 0);
   }
 }

 .menu-nav {
   height: 70vh;
   transform: translate3d(-100%, 0, 0);
   font-size: 1.5rem;
   
   }

 div.menu-branding {
   height: 30vh;
   transform: translate3d(100%, 0, 0);

   .portrait {
    width: 200px;
    height: 200px;
   }
 }
 div.about-info-grid {
   grid-template-areas: 
   "bioimage"
   'bio'
   'job1'
   'job2'
   'job3';
   grid-template-columns: 1fr;
  
 }
 div.projects-grid{
  grid-template-columns: repeat(2,1fr);
}

main#work h1{
  font-size: 3.5rem;
    }
    main#contact h1{
      line-height: 1.1;
      margin: 0;
      margin-bottom: 2rem;
        }
        .boxes div{
          font-size: 1rem;
          padding: 1rem 2rem;
            }
            div.container {
              left: 41%;
              top: 103px;
              }
              .container ul li {
                margin: 0 0 20px;
                font-size: 0.8rem;
              }
 }
 @media screen and (min-width: 769px) and (max-width: 990px) {
  main#home h1 {
    line-height: 1.1;
    margin-bottom: 2rem;
}
 }

 @media screen and (min-width: 769px) and (max-width: 1170px) {
  div.projects-grid{
    grid-template-columns: repeat(3,1fr);
  }
  main#work h1{
    line-height: 1.1;
    margin-bottom: 2rem;
      }
      main#contact h1{
        font-size: 4rem;
        line-height: 1.1;
        margin: 0;
          }
 div.container {
 left: 55%;
 top: 103px;
 }
 .container ul li {
   margin: 0 0 20px;
   font-size: 0.9rem;
 }
 
}



 @media screen and (min-width: 1171px) {
   div.projects-grid{
     grid-template-columns: repeat(4,1fr);
   }
  
 }

 @media only screen and (max-width: 530px) {
  main#home {
 padding: 2rem;
 

 .large-heading {
   margin-bottom: 1.5rem;
   font-size: 4rem;
 }

 .small-heading {
   font-size: 1rem;
 }
}
div.projects-grid{
grid-template-columns: 1fr;
}
main#about h1{
  margin-top: 0;
}
main#work{
  padding: 0;

h1{
  font-size: 3rem;
  margin-bottom: 2rem;
  padding: 0;

}
}

  .boxes div{
font-size: 1rem;
padding: 1rem 2rem;
  }

  main#contact h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  div.container {
    left: 38%;
  }
}

