$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image:true;
$home-image: url(../dist/img/cyber.png);
$opacity: 0.8;
$text-arrow-space: 16px;
$shaft-width: 64px;
$shaft-thickness: 1px;
$arrow-head-width: 8px;
$arrow-head-thickness: $shaft-thickness;

@mixin  ease-out{
    transition: all 1s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-image{
        background:$home-image;    
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        &:after {
          content: "";  
          position: absolute;
          top: 0;
          right: 0;
          width: 100vw;
          height: 100vh;
          background:rgba($primary-color,$opacity); 
          z-index: -1; 
    }
   

    }
}
}

@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}