@import "_variables.scss";
@import '_menu.scss';
@import '_contact.scss';

@import '_about.scss';
@import '_my-projects.scss';
@import '_mediaQueries';



*{
    box-sizing:border-box;}

    html,body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

body{
    @include background;
    background: $primary-color;
    color:set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
    line-height: 1.5;
    
}

#bg-image {
    overflow: hidden;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
}

.large-heading {
        font-size: 6rem;
        

    
h2.small-heading{
    margin-bottom:2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color,2), 0.5);
    font-family: 'Playfair Display',serif;
}
}

a {
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    position: relative;

    
}

.container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 75%;
    top: 119px;
  }
  
  ul {
      text-decoration: none;
      list-style: none;
    li {
      margin: 0 0 24px;
    }
  }
  
  
  
  // The Arrow
  
  .the-arrow {
    width: $shaft-width;
    // transition: all 0.2s;
   
    &.-left {
      position: absolute;
      top: 60%;
        left: 0;
  
      > .shaft {
        width: 0;
        background-color: white;
        
        &:before,
        &:after {
          width: 0;
          background-color: white;
        }
  
        &:before {
          transform: rotate(0);
        }
  
        &:after {
          transform: rotate(0);
        }
      }
    }
    
    &.-right {
        position: absolute;
        top: 60%;
        left: 98%;
        margin-left: 1rem;
      
      > .shaft {
        width: $shaft-width;
        transition-delay: 0.2s;
  
        &:before,
        &:after { 
          width: $arrow-head-width;
          transition-delay: 0.3s;
          transition: all 0.5s;
        }
        
        &:before {
          transform: rotate(40deg);
        }
        
        &:after {
          transform: rotate(-40deg);
        }
      }
    }
  
    > .shaft {
      background-color: white;
      display: block;
      height: $shaft-thickness;
      position: relative;
    //   transition: all 0.2s;
    //   transition-delay: 0;
    //   will-change: transform;
  
      &:before,
      &:after {
        background-color: white;
        content: '';
        display: block;
        height: $arrow-head-thickness;
        position: absolute;
        top: 0;
        right: 0;
        // transition: all 0.2s;
        // transition-delay: 0;
      }
  
      &:before {
        transform-origin: top right;
      }
  
      &:after {
        transform-origin: bottom right;
      }
    }
  }
  
  
  
  // Animated Arrow Button
  
  .animated-arrow {
    display: inline-block;
    color: white;
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    // transition: all 0.2s;
  
    
  }
     
  
  
  .secondary-text{
    color: $secondary-color;

}

main {
    padding: 4rem;
    
.icons {
        margin-top:1rem;

        a {
            padding: 0.4rem;
            @include ease-out;
            
            &:hover{
                color:$secondary-color;
                }
           }
           
    }
    &#home{
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }

}
#home .small-heading {
    font-family: 'Playfair Display',serif;
    margin-top: 2rem;
    line-height: 2;

}



